<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    .col-sm-3 {
      border: #454454;
    }

    .img-circle {
      max-width: 300px;
      padding: 30px;
    }
    
  </style>
</head>
<body>


{{$API := .}}  


<div class="jumbotron">
  <div class="container text-center">
    <h1>Groupie Tracker</h1>      
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <h3>Search Most Popular Artists</h3><br>
</div>



<div class="container-fluid bg-3 text-center">
<form action="/" method="POST">
  <br>
  <input id="sch" class="search" type="text" name="toSearch" list="list" placeholder="Artist">
  <datalist id="list" name="case">
  {{range $i, $v := .GroupieArtist}}
  <option>{{(index $API.GroupieArtist $i).Name}} // Artists</option>
  {{end}} {{range $i, $v := .GroupieArtist}}{{range .Members}}
  <option>{{.}} // Member</option>
  {{end}}{{end}} {{range $i, $v := .GroupieRelation.RIndex}}{{range $key, $value := $v.DatesLocations}} 
  <option>{{$key}} // Location</option>
    {{end}}{{end}} {{range $i, $v := .GroupieArtist}}
    <option>{{(index $API.GroupieArtist $i).FirstAlbum}} // First Album</option>
    {{end}} {{range $i, $v := .GroupieArtist}}
    <option>{{(index $API.GroupieArtist $i).CreationDate}} // CreationDate</option>
    {{end}}
  </datalist>
  <button type="submit">Search</button>
  </form>
</div>
<br>


<footer class="container-fluid text-center">
  <p>Nur-Sultan 2020</p>
</footer>

</body>
</html>
